    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="col-sm-6">
	        <div class="row">
       		<img style="padding: 0 15px; float: left;" width="100" src="https://www.nsf.gov/images/logos/nsf1.gif">
            <img style="padding: 0 15px; float: left;" width="100" src="images/ICShield.png">
            <img style="padding: 0 15px; float: left;" width="75" src="images/UCAShield.png">
            <img style="padding: 0 15px; float: left;" width="125" src="images/OSUShield.png">
            </div>
            <div class="row">
            <p>This project is supported by the National Science Foundation through Awards DUE #1712312, #1711837, and #1710377. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
	        </div>
	    <div class="col-sm-3">
	    	<div class="row">
          	<img style="padding: 0 15px; float: center;" width="200" src="images/creative_commons.png">
          	</div>
          	<div class="row">
			<p>www.Calcvids.org is licensed under</p>
    	    <p>CC BY-NC-SA 4.0</p>
    	    </div>
    	</div>
          <section id="subfooter-right" class="small-12 medium-2 columns credits">
            {{ site.credits }}
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>

          
          <section id="subfooter-left" class="small-12 medium-2 columns">
			<a href="/sitemap.xml">sitemap</a>
          </section>


      </div><!-- /#subfooter -->
    </footer>
