<p style="text-align: center; background-color: white;">

<a class='btn' href='{{site.baseurl}}/'>Home</a>
<a class='btn' href='{{site.baseurl}}/vids'>Student Videos</a>
<a class='dropdown-button btn' href='#' data-activates='about'>About</a>
<a class='dropdown-button btn' href='#' data-activates='research'>Research</a>


<ul id='home' class='dropdown-content'>
<li><a href="#!">one</a></li>
<li><a href="#!">two</a></li>
<li class="divider"></li>
<li><a href="#!">three</a></li>
<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
</ul>

<ul id='about' class='dropdown-content'>
<li><a href="{{site.baseurl}}/about">About</a></li>
<li><a href="{{site.baseurl}}/team">Team</a></li>
</ul>

<ul id='research' class='dropdown-content'>
<li><a href="{{site.baseurl}}/videos">Videos</a></li>
<li><a href="{{site.baseurl}}/publications">Publications</a></li>
</ul>

</p>
